
<%= form_with(model: post) do |f|%>
    <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :content, "Content" %>
        <%= f.text_area :content, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :image, "Image" %>
        <%= f.file_field :image, class: 'form-control-file' %>
    </div>


    <div class="form-actions">
        <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-outline-success' %>
    </div>
<% end %>
